@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #58f216;
}


body{
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.heading{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 20px;
}

#calculator{
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 550px;
    border-radius: 12px;
    border: 5px solid #58f216;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#calculator-buttons{
    display: flex;
    flex-direction: row;
}

#misc-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 50px;
}

#numbers{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;  
}

#functions{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 400px;
    margin-right: 4px;
}

#display{
    width: 380px;
    height: 90px;
    margin: 5px;
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    background-color: black;
    border: 2px solid #58f216;
    padding: 10px;
    font-size: 50px;
}

.fake-button{
    font-size: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 2px;
    border-radius: 12px;
    width: 94px;
    height: 94px;
    border: 2px solid #58f216;
    text-decoration: none;
}

.addition, .subtraction, .multiplication, .division{
    box-sizing: border-box;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 2px;
    margin-left: 2px;
    width: 90px;
    height: 80px;
    border: 2px solid #58f216;
    text-decoration: none;
}

.equals{
    box-sizing: border-box;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 2px;
    margin-left: 2px;
    width: 90px;
    height: 100px;
    border: 2px solid #58f216;
    text-decoration: none;
}

.fake-button-4{
    box-sizing: border-box;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 2px;
    margin-left: 2px;
    width: 94px;
    height: 44px;
    border: 2px solid #58f216;
}

.fake-button:hover{
    cursor: pointer;
    color: black;
    background-color: #58f216;
}

.addition:hover, .subtraction:hover, .multiplication:hover, .division:hover{
    cursor: pointer;
    color: black;
    background-color: #58f216;
}

.equals:hover{
    cursor: pointer;
    color: black;
    background-color: #58f216;
}

.fake-button-4:hover{
    cursor: pointer;
    color: black;
    background-color: #58f216;
}

#operator-pressed{
    color: black;
    background-color: #58f216;
}